<div class="itemRow item splitmenu" data-item-id="{{item._id}}">
    {{> "systems/utopia/templates/actor/parts/item-Header.hbs" item=item}}
    <div class="per45">
        {{!-- Description --}}
    </div>
    <div class="per10">
        <a class="item-use" title="{{ localize 'utopia.item.use' }}"><i class="fa-solid fa-hand"></i></a>
        &nbsp;
    </div>
</div>