<div class="flex-column">
    <div class="itemColumn">
        {{#each effects as |item|}}
            <div class="itemRow">
                Effect
            </div>
        {{/each}}
    </div>
</div>