<div class="itemRow item splitmenu" data-item-id="{{item._id}}">
    {{> "systems/utopia/templates/actor/parts/item-Header.hbs" item=item}}
    <div class="per45">
        Description
    </div>
    <div class="per10">
    </div>
</div>